/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 480px;
}

img {
  width: 96px;
}

a:hover {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  -webkit-filter: drop-shadow(5px 5px 5px #ffffff); filter: drop-shadow(5px 5px 5px #ffffff);
}
